@media only screen and (max-width: 600px) {
  #side-banner {
    display: none;
  }

  .imgur-embed-iframe-pub {
    max-width:100%;
    width: 100%;
    height: auto;
    object-fit:cover;
  }
}

@media only screen and (max-width: 700px) {
  #side-banner0 {
    display: none;
  }
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.pic {
  max-width:100%;
  width: 100%;
  height: auto;
  object-fit:cover;
}